$navy: #00264d;

/*Whole Body Container*/
body {
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: $navy;
  color: #FFF;
}

/*Header Image*/
header {
  background: url("images/graffiti.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

/*Div's translucent blue*/
.translucent {
  background-color: $navy;
  background: linear-gradient(top, rgba(0,26,61,.60), rgba(0,26,61,.60));
  background: -webkit-linear-gradient(top, rgba(0,26,61,.60), rgba(0,26,61,.60));
  background: -moz-linear-gradient(top, rgba(0,26,61,.60), rgba(0,26,61,.60));
  padding: 10px;
  height: 100vh;
}

/*Makes Name Extra Large*/
#name {
  font-size: 5em;
}

h1 {
  margin-bottom: 40px;
  font-size: 3em;
}

/*Makes header image spread across whole screen, regardless of size.*/
#pic-space {
  padding-top: 25vh;
  height: 100vh;
  text-align: center;
}

#ghost-button-transition {
  display: inline-block;
  width: 5em;
  padding: .25em;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
  border-radius: .2em;
}
#ghost-button-transition:hover, #ghost-button-transition:active {
  background-color: #fff;
  color: $navy;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}
